services:
  svc_a:
    build:
      context: ./app
      dockerfile: Dockerfile
    environment:
      - SERVICE_ID=service-a
    ports:
      - "7001:5000"

  svc_b:
    build:
      context: ./app
      dockerfile: Dockerfile
    environment:
      - SERVICE_ID=service-b
    ports:
      - "7002:5000"

  svc_c:
    build:
      context: ./app
      dockerfile: Dockerfile
    environment:
      - SERVICE_ID=service-c
    ports:
      - "7003:5000"

  svc_d:
    build:
      context: ./app
      dockerfile: Dockerfile
    environment:
      - SERVICE_ID=service-d
    ports:
      - "7004:5000"

  legacy_gateway:
    image: nginx:1.27-alpine
    depends_on:
      - svc_a
      - svc_b
      - svc_c
      - svc_d
    ports:
      - "5000:80"
    volumes:
      - ./nginx/http_gateway.conf:/etc/nginx/conf.d/default.conf:ro

  proxy_gateway:
    image: nginx:1.27-alpine
    depends_on:
      - svc_a
      - svc_b
      - svc_c
      - svc_d
    ports:
      - "6200:80"
    volumes:
      - ./nginx/http_gateway.conf:/etc/nginx/conf.d/default.conf:ro

  tls_gateway:
    image: nginx:1.27-alpine
    depends_on:
      - svc_a
      - svc_b
      - svc_c
      - svc_d
    ports:
      - "6100:443"
    volumes:
      - ./nginx/tls_only_gateway.conf:/etc/nginx/conf.d/default.conf:ro
      - ./certs:/certs:ro

  mtls_gateway:
    image: nginx:1.27-alpine
    depends_on:
      - svc_a
      - svc_b
      - svc_c
      - svc_d
    ports:
      - "6000:443"
    volumes:
      - ./nginx/mtls_gateway.conf:/etc/nginx/conf.d/default.conf:ro
      - ./certs:/certs:ro
